body{
    background-color: rgb(33, 64, 105);}
    
h1{
    font-size:1.5em;
    text-align:center;
    
}
p{
    color: white;
}
h2{
    padding-top:60px;
    font-size:4em;
    color:grey;
    text-align:center;

}
a {
    color: white;
    text-decoration:none;
     border-bottom-color:white;
     border-bottom-width:3px;
     border-bottom-style: solid;
    
 }
 
 a:visited {
     color:white;
 }
 a:hover {
     color: black;
     border-left-color:black;
     border-left-width:2px;
     border-left-style: solid;  
     border-right-color:black;
     border-right-width:2px;
     border-right-style: solid;
     border-bottom-color:black;
     border-bottom-width:2px;
     border-bottom-style: solid;
 }
 a:active {
     color: black;
 }