body{
    background-color: rgb(33, 64, 105);
}
*{
   
    box-sizing: border-box;
}
.image{
    margin-left:30px;
    padding-left:150px;
    padding-top:50px;
    width:50%;
    display:flex;
    justify-content:center;
    background-position: left;
    display:inline;

}
.image img{
    height:500px;
    width:500px;
    border-radius: 50%;
    border:10px solid#fff;
    

}
.i{
    width:50%;
    display:flex;
    justify-content:center;
    background-position:right;
    display:inline;


}
.i img{
    height:500px;
    width:500px;
    border-radius: 50%;
    border:10px solid#fff;

}

.im{
    width:50%;
    display:flex;
    justify-content:center;
    background-position:right;
    display:inline;


}
.im img{
    height:500px;
    width:500px;
    border-radius: 50%;
    border:10px solid#fff;

}

    
h1{
    font-size:1.5em;
    text-align:center;
    
}
p{
    color: white;
    text-align: left;
    font-size: 25px;
}
h2{
    padding-top:100px;
    margin:100px;
    font-size:4.5em;
    color:lightblue;
    text-align:left;

}
a {
    color: lightblue;
    text-decoration:none;
     border-bottom-color:white;
     border-bottom-width:3px;
     border-bottom-style: solid;
    
 }
 
 a:visited {
     color: lightblue;
 }
 a:hover {
     color: black;
     border-left-color:black;
     border-left-width:2px;
     border-left-style: solid;  
     border-right-color:black;
     border-right-width:2px;
     border-right-style: solid;
     border-bottom-color:black;
     border-bottom-width:2px;
     border-bottom-style: solid;
 }
 a:active {
     color: lightblue;
 }
