body {
    background-color: rgb(19, 230, 230);
    color:black;
    font-size: 1em;
}

p {
    font-size: 1em;
    color:black;
}
h1{
    font-size:1em;
    left:0px;
    text-align:center;
    
    }
h2{
    color:blue
}
a {
   color: black;
}
a:link {
    color: black;
}
a:visited {
    color:blue;
}
a:hover {
    color: black;
}
a:active {
    color: black;
}