body {
    background-color: rgb(33, 64, 105);
    color:black;
    font-size: 1em;
}

p{
    position:fixed;
    bottom:0;
}

h1{
    font-size:1.5em;
    text-align:center;
    
    
    }
h2{
    font-size:5em;
    text-align:center;
    color:white
}
h3{
    position:fixed;
    font-size:2em;
    display:inline;
    margin-top:200px;
    margin-left:300px;
    border-left-color:black;
     border-left-width:2px;
     border-left-style: solid;  
     border-right-color:black;
     border-right-width:2px;
     border-right-style: solid;
     border-bottom-color:black;
     border-bottom-width:2px;
     border-bottom-style: solid;

}
h4{
    position:fixed;
    font-size:2em;
    display:inline;
    margin-top:200px;
    margin-left:800px;
    border-left-color:black;
     border-left-width:2px;
     border-left-style: solid;  
     border-right-color:black;
     border-right-width:2px;
     border-right-style: solid;
     border-bottom-color:black;
     border-bottom-width:2px;
     border-bottom-style: solid;

}
h5{
    position:fixed;
    font-size:2em;
    display:inline;
    margin-top:200px;
    margin-left:1300px;
    border-left-color:black;
     border-left-width:2px;
     border-left-style: solid;  
     border-right-color:black;
     border-right-width:2px;
     border-right-style: solid;
     border-bottom-color:black;
     border-bottom-width:2px;
     border-bottom-style: solid;

}
a {
   color: white;
   text-decoration:none;
   border-bottom-color:white;
     border-bottom-width:3px;
     border-bottom-style: solid;
     padding-right:10px;
   
}
a:link {
    color: lightblue;
}
a:visited {
    color:lightblue;
}
a:hover {
    color: black;
     border-left-color:black;
     border-left-width:2px;
     border-left-style: solid;  
     border-right-color:black;
     border-right-width:2px;
     border-right-style: solid;
     border-bottom-color:black;
     border-bottom-width:2px;
     border-bottom-style: solid;
}
a:active {
    color: lightblue;
}